<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ui.ks">

    <uses-sdk tools:overrideLibrary="ru.noties.scrollable,com.pkmmte.view,com.getbase.floatingactionbutton,         com.quicklib.android.multidex,com.quicklib.android.app,com.quicklib.android.core" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.touchscreen" />

    <permission
        android:name="com.ui.ks.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ms.ks.permission.MIPUSH_RECEIVE" />

    <meta-data
        android:name="android.max_aspect"
        android:value="2.4" />

    <application
        android:name="com.MyApplication.KsApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Translucent"
        tools:replace="android:icon, android:label">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ui.ks.camera_photos.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="com.company.app.fileprovider.READ">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name=".KsMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <!-- 支付开始 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sdksample" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 支付结束 -->
        <activity
            android:name=".Welcome2Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShopActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PicDetailActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Toolbar.Translucent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PicViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Toolbar.Translucent" />
        <activity
            android:name=".ProfilePasswordActivity"
            android:label="@string/title_activity_profile_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SetActivity"
            android:label="@string/title_activity_set"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddressLocationActivity"
            android:label="@string/title_activity_address_location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddressActivity"
            android:label="@string/title_activity_address"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MsgActivity"
            android:label="@string/title_activity_msg"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoneyActivity"
            android:label="@string/title_activity_money"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MoneyLogActivity"
            android:label="@string/title_activity_money_log"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportActivity"
            android:label="@string/title_activity_report"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportDetailActivity"
            android:label="@string/title_activity_report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberProfileActivity"
            android:label="@string/title_activity_member_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberProfileNicknameActivity"
            android:label="@string/title_activity_member_profile_nickname"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberProfileMobileActivity"
            android:label="@string/title_activity_member_profile_mobile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberProfileTelActivity"
            android:label="@string/title_activity_member_profile_tel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MemberProfileAddressActivity"
            android:label="@string/title_activity_member_profile_address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayActivity"
            android:label="@string/title_activity_pay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".OrderDetailActivity"
            android:label="@string/title_activity_order_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDeliveryActivity"
            android:label="@string/title_activity_order_delivery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeliveryCorpActivity"
            android:label="@string/title_activity_order_delivery_corp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeliveryCodeActivity"
            android:label="@string/title_activity_order_delivery_code"
            android:screenOrientation="portrait" />

        <service android:name="com.ui.update.DownloadService" />

        <activity
            android:name=".PrintActivity"
            android:label="@string/title_activity_print"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoticeActivity"
            android:label="@string/title_activity_notice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileEntryActivity"
            android:label="@string/title_activity_profile_entry"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OpenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ForgetPasswordThreeActivity"
            android:label="@string/title_activity_forget_password_second"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name="com.ui.fragment.PlayService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".EditBnakCardActivity"
            android:label="@string/title_activity_editcard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SubmitEditBnakCardActivity"
            android:label="@string/title_activity_editcard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyScanCodeActivity"
            android:label="@string/title_activity_my_scan_code"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MipcaActivityCapture"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyPayCodeActivity"
            android:label="@string/title_activity_my_pay_code"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".PayDescriptionActivity" />
        <activity
            android:name=".PaySuccessActivity"
            android:label="@string/title_activity_paysuccess"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TodayAllOrderActivity"
            android:label="@string/title_activity_todayAllOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OrderSearchActivity"
            android:label="@string/title_activity_OrderSearch"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ThisMonthAllOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ThisMonthDayOrderActivity"
            android:label="@string/title_activity_thismonthAllOrder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainStoreActivity"
            android:label="@string/title_activity_mainstore"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GetMoneyActivity"
            android:label="@string/title_activity_getmoney"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GetMoneyExplainActivity"
            android:label="@string/title_activity_getmoneyexplain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainBranchSelectActivity"
            android:label="@string/title_activity_mainbranchselect"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GoodsManagementActivity"
            android:label="@string/title_activity_goodsmanagement"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SortManagementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StockWarningActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddGoodsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".SortEditActivity"
            android:label="@string/btn_sort"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GoodsSearch.GoodsInfoSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CashChargeActivity"
            android:label="@string/title_activity_cashcharge"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CashChargeNotesActivity"
            android:label="@string/title_activity_cashchargenotes"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OpenOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CashChargeSuccessActivity"
            android:label="@string/title_activity_cashcharge"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GetOpenOrderActivity"
            android:label="@string/title_activity_getopenorder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SubmitOrderActivity"
            android:label="@string/title_activity_submitorder"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".PayOpenOrderSuccessActivity" />
        <activity
            android:name=".PrintSetActivity"
            android:label="@string/title_activity_printset"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".accountExport.AccountExportActivity"
            android:label="@string/title_activity_putreport"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OpenOrderPayCodeActivity"
            android:label="@string/title_activity_openorderpaycode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SalesStatistics.SalesStatisticsAcitvity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Goods_Sales_Statistics_SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Goods_Sales_ChartStatisticsAcitvity"
            android:label="@string/goods_salesstatistics"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".H5GoodsPreviewActivity"
            android:label="@string/title_activity_H5GoodsPreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WholeSaleOrdersActivity"
            android:label="@string/title_activity_WholeSaleOrdersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NearlyShopperGoodsActivity"
            android:label="@string/title_activity_NearlyShopperGoodsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".WholeSaleOrdersActivity1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ShoppingHomePageSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ShoppingSortNearlyShopperActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MoreShoppingSortActivity"
            android:label="@string/title_activity_MoreShoppingSortActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ShoppingCartOrderSureActivity"
            android:label="@string/title_activity_ShoppingCartOrderSureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SelectAdressActivity"
            android:label="@string/title_activity_SelectAdressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddAdressActivity"
            android:label="@string/title_activity_AddAdressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ShoppingCartOrderSureListActivity"
            android:label="@string/title_activity_ShoppingCartOrderSureListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PaySureActivity"
            android:label="@string/title_activity_PaySureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OutofstorageActivity"
            android:label="出入库报表"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OutInStore.OutInStoreQueryListActivity"
            android:label="出入库报表"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Out_In_DetailActivity"
            android:label="出入库报表详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Out_In_operationActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|uiMode|screenSize|navigation"
            android:label="出入库"
            android:screenOrientation="portrait" />
        <!-- android:configChanges="touchscreen|keyboardHidden|orientation|screenSize" /> -->

        <activity
            android:name=".MemberManageActivity"
            android:label="会员管理"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MemberDetailsActivity"
            android:label="会员详情"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".InventoryActivity"
            android:label="盘点"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Webpage_Activity"
            android:label="优惠券"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MarketingActivity"
            android:label="营销"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CodescanningActivity"
            android:label="营销"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddImageViewDialog"
            android:label="添加图片"
            android:theme="@style/Theme.ActivityDialogStyle" />
        <activity
            android:name=".MemberSpecificationsActivity"
            android:label="充值规格"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DeskActivity"
            android:label="充值规格"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddRemarksActivity"
            android:label="添加备注"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TablePicActivity"
            android:label="桌号"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.ui.languageSet.LanguageSetActivity" />
        <activity android:name=".InventoryRecord.InventoryRecordActivity" />
        <activity android:name=".SendEmail.SendEmailActivity" />
        <activity android:name=".ReportLoss.ReportLossListActivity" />
        <activity android:name=".ReportLoss.AddReportLossActivity" />
        <activity android:name=".ReportLoss.ReportLossGoodActivity" />
        <activity android:name=".ReportLoss.ReportLossDetailActivity" />
        <activity android:name=".accountExport.RecentlyUsedEmailActivity" />
        <activity android:name=".webView.HtmlActivity" />
        <activity android:name=".TimeFilter.TimeFilterActivity" />
        <activity android:name=".ScanHander.ScanHanderActivity" />
    </application>

</manifest>